
#bannerText  {
    
    text-shadow: 2px 2px 5px rgba(196, 193, 193, 0.7);
    
}
/* 
#bannerImg {
    
    background-image: url("../../../../../../../../Desktop/vecteezy_flat-style-illustration-of-finance-and-banking-with-atm_6470874_949/vecteezy_flat-style-illustration-of-finance-and-banking-with-atm_6470874.jpg");
    background-position: center;
    background-repeat: no-repeat;
} */