


 .product-item-large {
    width: 130px;
    min-height: 40px;
    max-height: 40px;
} 

.highlight-fill {
    color: white;
    
}

#card-img {
    
    height: 10em;
    max-height: 13em;
}

.card-footer {
   
   background-color: rgb(230, 230, 230);
   padding: 1rem;
   font-size: 0.7rem !important;
}